button {
  padding: 0;
  border-width: 0;
  background-color: transparent;
  cursor: pointer;
}

input,
textarea {
  border: 1px solid $c-color-border;
  padding: 5px;
}

a {
  color: $c-color-link;

  &:visited {
    color: $c-color-link-visited;
  }

  &:hover {
    text-decoration: underline;
  }
}

.b-title {
  margin-bottom: 30px;
  color: $c-color-dark;
  font-size: $c-size-article-h1;
}

@import 'themes/button';
