/*---------------------------------------
  General rules
----------------------------------------*/
$c-size-font: 1.4rem;
$c-color-base: #2d89e5;
$c-color-dark: #082272;
$c-color-border: #ccc;
$c-color-border-base: #7886b2;

/*---------------------------------------
  Article related variables
----------------------------------------*/
$c-size-article-h1: 3.2rem;
$c-size-article-h2: 2.4rem;
$c-size-article-h3: 2.0rem;
$c-size-article-h4: 1.4rem;

/*---------------------------------------
  Transition
----------------------------------------*/
$transition-hover: 200ms ease-out;
