/*---------------------------------------
  General rules
----------------------------------------*/
$c-size-font: 1.4rem;
$c-color-base: #2d89e5;
$c-color-dark: #082272;
$c-color-border: #ccc;

/*---------------------------------------
  Article related variables
----------------------------------------*/
$c-size-article-h1: 3.2rem;
$c-size-article-h2: 2.0rem;
$c-size-article-h3: 1.8rem;
$c-size-article-h4: 1.4rem;

/*---------------------------------------
  Transition
----------------------------------------*/
$transition-hover: 200ms ease-out;
